.component {
  background-color: var(--light-light-blue);
  color: var(--blue);
  z-index: 1;
  width: auto;
  height: auto;
  border-radius: var(--border-radius);
  outline: 2px solid var(--light-blue);
}

.selected {
  box-shadow: 0 0 4px 4px var(--light-blue);
}

.delete-button {
  position: absolute;
  margin: 0px;
  top: 0;
  right: 0;
  display: inline-block;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 20px;
  padding: 0px 5px;
  color: var(--blue);
}

.target-point {
  background-color: var(--blue);
}
