.connection-point {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  z-index: 4;
  height: 20px;
  width: 20px;
}

[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  width: auto;
  left: 0;
  top: 25px;
  background: #3989c9;
  color: #fff;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
  pointer-events: none;
  opacity: 0;
  transition: 1s;
  border-radius: 10px;
  z-index: 10;
}

[data-tooltip]:hover::after {
  opacity: 1;
}
