.button-component {
  width: 130px;
  height: 40px;
  position: relative;
  display: flex;
}

.edit {
  display: flex;
}

.button {
  padding: 5px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.button-point {
  position: absolute;
  right: -10px;
  top: 10px;
}

.button-input {
  align-items: center;
  width: 100%;
}
