.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-content {
  display: flex;
}

.button-content:hover .add-button {
  position: relative;
  opacity: 1;
}

.indent {
  margin-top: 10px;
}

.add-button {
  position: absolute;
  opacity: 0;
}
