.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-content {
  display: flex;
}

.button-content:hover .add-button {
  position: relative;
  opacity: 1;
}

.button-content .button {
  background-color: white;
  color: var(--blue);
}

.button-content .button:hover {
  background-color: var(--light-blue);
  color: white;
}

.indent {
  margin-top: 10px;
}

.add-button {
  position: absolute;
  opacity: 0;
}

.button-content .output-points {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  bottom: 10px;
}
