.component-content-container {
  position: relative;
  width: auto;
  height: auto;
}

.component-input {
  width: 100px;
}

.component-content {
  width: auto;
  height: auto;
  padding: 40px 30px 40px 30px;
}

.component-name {
  font-size: 0.8rem;
  margin: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.output-points {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: -10px;
  justify-content: space-around;
  align-items: flex-end;
  bottom: 0;
}

.error-point {
  background-color: red;
}

.output-point {
  background-color: green;
}
