.component-content-container {
  position: relative;
  width: auto;
  height: auto;
}

.component-input,
.content-width {
  width: 120px;
}

.component-content {
  width: auto;
  height: auto;
  padding: 40px 20px 40px 20px;
}

.component-name {
  font-size: 0.8rem;
  margin: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

.output-points {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: -10px;
  justify-content: space-around;
  align-items: flex-end;
  bottom: 0;
}

.point-tooltip {
  position: absolute;
  width: auto;
  left: 0;
  top: 25px;
  background: var(--light-blue);
  color: white;
  padding: 0.5em;
  box-shadow: 2px 2px 5px var(--grey);
  pointer-events: none;
  opacity: 0;
  transition: 1s;
  border-radius: var(--border-radius);
  z-index: 10;
}

.content-point {
  position: relative;
}

.content-point:hover .point-tooltip {
  opacity: 1;
}

.editing-content textarea {
  flex-grow: 1;
  min-width: 25rem;
  resize: none;
  display: block;
  border: 1px solid var(--light-light-blue);
  border-radius: var(--border-radius);
  outline: none;
  overflow: scroll;
}

.editing-content textarea:focus {
  border-color: var(--blue);
}

.editing-content .buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
}

.editing-content label {
  font-size: small;
}

.editing-content .vresize {
  resize: vertical;
}
