header {
  display: flex;
  background-color: var(--blue);
  justify-content: space-between;
}

#global-menu {
  display: flex;
}

#auth {
  display: flex;
}

header a,
header.action-link {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
  padding: 5px 10px 5px 10px;
  background-color: var(--light-blue);
  border-radius: var(--border-radius);
  margin: 10px;
}

header a:hover,
header.action-link:hover {
  cursor: pointer;
  background-color: white;
  color: var(--blue);
}
