header {
  display: flex;
  background-color: var(--blue);
  justify-content: space-between;
  height: var(--header-height);
}

#global-menu {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

#auth {
  display: flex;
  align-items: center;
}

header a,
.header-link {
  margin-right: 1rem;
  text-decoration: none;
  color: white;
  padding: var(--button-padding);
  background-color: var(--light-blue);
  border-radius: var(--border-radius);
}

header a:hover,
.header-link:hover {
  cursor: pointer;
  background-color: white;
  color: var(--blue);
}
