#editor-area {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-block: scroll;
  background-color: gray;
  width: 90%;
  height: 600px;
}

.scaling {
  transform: scale(1);
}
