#editor-area {
  position: relative;
  margin: 10px;
  padding: 0;
  overflow: scroll;
  background-color: lightgray;
  outline: 1px solid gray;
  width: 90%;
  height: 600px;
  z-index: 0;
}

.scaling {
  transform: scale(1);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.control-buttons {
  padding: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: auto;
}

.fixed-area {
  padding: 0px;
  margin: 0px;
  position: sticky;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.scale-buttons {
  position: absolute;
  padding: 10px;
  bottom: 0px;
  right: 0px;
}

.events {
  pointer-events: auto;
}

#editor-menu-panel {
  border: 2px solid grey;
  margin: 1% 1% 0 1%;
}

#component-selection-panel {
  position: relative;
  border: 2px solid grey;
  min-width: 150px;
  width: 10%;
  margin: 1%;
  padding: 1%;
  border-radius: 5px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.hide-panel-btn {
  position: absolute;
  margin: 0px;
  top: 0;
  right: 0;
}

.show-panel-btn {
  width: auto;
  margin: 1%;
}
